<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<meta name = "viewport" id = "viewport" content = "width=device-width, height=device-height,
			initial-scale=1">
		<title>구글맵 1</title>

		<style>

			* {
				margin: 0;
				padding: 0;
			}

			html, body {
				width: 100%;
				height: 100%;
			}

			#map {
				width: 100%;
				height: 95%;
			}
		</style>

		<script src = "https://maps.googleapis.com/maps/api/js"></script>

		<script>
			function onLoad() {
				initMap();
			}

			var map;
			var centerLocation = {lat: <%= paramLatitude %>, lng: <%= paramLongitude %>};
			var coffeeLocation = {lat: <%= result.geometry.coordinates[1] %>, lng: <%= result.geometry.coordinates[0] %>};

			function initMap() {
				map = new google.maps.Map(document.getElementById('map'), {
					center: centerLocation,
					zoom: 17
				});

				var marker = new google.maps.Marker({
					position: centerLocation,
					icon: '/public/mylocation.png',
					animation: google.maps.Animation.BOUNCE
				});

				marker.setMap(map);

				var coffeeMarker = new google.maps.Marker({
					position: coffeeLocation,
					icon: '/public/coffee.png'
				});

				coffeeMarker.setMap(map);
			}
		</script>
	</head>

	<body onload="onLoad()">
		<p>구글맵으로 내 위치 표시하기</p>
		<div id = "map"></div>
	</body>
</html>